/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                 Introduction component styles                                      |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
\*|                                donatas.dereskevicius@gmail.com                                     |*/


    @import './../../../scss/mixins';

    .introduction {
        @include flex_center;
        flex-direction: column;
        background-image: url(../../../img/bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
        height: 90vh;
        width: 100%;
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/