/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                     Cart component styles                                          |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    .cart {
        @include flex_center;
        flex-direction: column;
        width: 20%;
        cursor: pointer;

        &__img {
            background-image: url("../../Assets/cart_logo.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }

        &__title {
            font-family: 'Rye', cursive;
            font-size: 1.3rem;
            color: #000000;
            text-decoration: none;
            @include no_gaps;
        }

        &__title:hover {
            font-size: 1.5rem;
        }

        &__count {
            position: fixed;
            background-color: #ffffff;
            border-radius: 50px;
                -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
            padding: 0.5rem;
            right: 5vh;
            top: 5vh;
            z-index: 1;
        }
    }

    .confirm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__title {
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
        }

        &__button {
            background-color: #fafafa;
            border: solid #ffffff 1px;
                -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
            margin: 0 2rem;
            padding: 1rem 2rem;
            cursor: pointer;

            &--link {
                font-family: 'Alegreya SC', serif;
                font-size: 1rem;
                color: #000000;
                text-decoration: none;
            }
        }

        &__button:hover {
            background-color: #ececec;
                -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
                -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
        }
    }

    .table {
        margin: 3rem;
        padding: 3rem;
        list-style: none;
        width: 100%;

        &-header {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
            margin: 0 0 2rem 0;
            text-align: center;

            &__title {
                margin: 0.5rem;
                width: 25%;
            }

            &__price {
                margin: 0.5rem;
                width: 10%;
            }

            &__quantity {
                margin: 0.5rem;
                width: 10%;
            }

            &__controls {
                margin: 0.5rem;
                width: 30%;
            }

            &__sum {
                margin: 0.5rem;
                width: 15%;
            }
        }

        &-body {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.5rem 0;
            text-align: center;

            &__title {
                font-family: 'Rye', cursive;
                font-size: 1.5rem;
                margin: 0.5rem;
                width: 25%;
            }

            &__price {
                font-family: 'Oswald', sans-serif;
                font-size: 1.5rem;
                margin: 0.5rem;
                width: 10%;
            }

            &__quantity {
                font-family: 'Oswald', sans-serif;
                font-size: 1.5rem;
                margin: 0.5rem;
                width: 10%;
            }

            &__controls {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0.5rem;
                width: 30%;

                &--reduce {
                    display: flex;
                    align-items: center;
                    background-color: #ffe7e7;
                    border: solid #ff9292 1px;
                        -webkit-box-shadow: 0px 0px 7px 1px rgba(243, 82, 82, 0.7);
                        -moz-box-shadow: 0px 0px 7px 1px rgba(243, 82, 82, 0.7);
                    box-shadow: 0px 0px 7px 1px rgba(243, 82, 82, 0.7);
                    font-family: 'Alegreya SC', serif;
                    font-size: 1rem;
                    color: #000000;
                    margin: 0.5rem;
                    padding: 0.5rem 1rem 0.5rem 2rem;
                    text-decoration: none;
                    cursor: pointer;
                }

                &--reduce:hover {
                    background-color: #ffe7e7;
                    border: solid #c00000 1px;
                        -webkit-box-shadow: 0px 0px 10px 1px rgba(243, 82, 82, 0.8);
                        -moz-box-shadow: 0px 0px 10px 1px rgba(243, 82, 82, 0.8);
                    box-shadow: 0px 0px 10px 1px rgba(243, 82, 82, 0.8);
                    font-weight: 600;
                }

                &--name {
                    font-family: 'Fredericka the Great', cursive;
                    font-size: 1.5rem;
                    margin: 0.5rem;
                }

                &--increase {
                    display: flex;
                    align-items: center;
                    background-color: #e7fff0;
                    border: solid #84ff95 1px;
                        -webkit-box-shadow: 0px 0px 7px 1px rgba(40, 206, 123, 0.7);
                        -moz-box-shadow: 0px 0px 7px 1px rgba(40, 206, 123, 0.7);
                    box-shadow: 0px 0px 7px 1px rgba(40, 206, 123, 0.7);
                    font-family: 'Alegreya SC', serif;
                    font-size: 1rem;
                    color: #000000;
                    margin: 0.5rem;
                    padding: 0.5rem 2rem 0.5rem 1rem;
                    text-decoration: none;
                    cursor: pointer;
                }

                &--increase:hover {
                    background-color: #e7fff0;
                    border: solid #21c437 1px;
                        -webkit-box-shadow: 0px 0px 10px 1px rgba(40, 206, 123, 0.8);
                        -moz-box-shadow: 0px 0px 10px 1px rgba(40, 206, 123, 0.8);
                    box-shadow: 0px 0px 10px 1px rgba(40, 206, 123, 0.8);
                    font-weight: 600;
                }

                &--sign {
                    font-family: 'Fredericka the Great', cursive;
                    font-size: 2rem;
                    margin: 0 1rem;
                }
            }

            &__sum {
                font-family: 'Oswald', sans-serif;
                font-size: 1.5rem;
                margin: 0.5rem;
                width: 15%;
            }
        }

        &-body:nth-child(even) {
            background-color: #fafafa;
        }

        &-body:hover {
                -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
        }

        &-total {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fafafa;
            border-top: double #000000 1px;
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
            text-align: center;

            &__title {
                margin: 0.5rem;
                width: 25%;
            }

            &__price {
                margin: 0.5rem;
                width: 10%;
            }

            &__quantity {
                margin: 0.5rem;
                width: 10%;
            }

            &__controls {
                margin: 0.5rem;
                width: 30%;
            }

            &__sum {
                margin: 0.5rem;
                width: 15%;
            }
        }

        &-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5rem 0 1rem 0;
            text-align: center;

            &__button {
                background-color: #fafafa;
                border: solid #ffffff 1px;
                    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
                margin: 0 2rem;
                padding: 1rem 2rem;
                cursor: pointer;

                &--link {
                    font-family: 'Alegreya SC', serif;
                    font-size: 1rem;
                    color: #000000;
                    text-decoration: none;
                }
            }

            &__button:hover {
                background-color: #ececec;
                    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
                    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
                box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
            }
        }
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/