/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                    Footer component styles                                         |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    .footer {
        display: flex;
        grid-area: foot;
        padding: 1rem 2rem;
        height: 15vh;

        &-box {
            background-color: #ececec;
            border: solid #ffffff 1px;
                -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
            color: #000000;
            margin: 0;
            padding: 0.5rem;
            height: 100%;
            width: 100%;

            &__text {
                font-family: 'Oswald', sans-serif;
                font-size: 1rem;
                margin: 1rem;
                text-align: center;
            }
        }
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/