/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                 Introduction component styles                                      |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
\*|                                donatas.dereskevicius@gmail.com                                     |*/


    .introduction {
        @include flex_center;
        flex-direction: column;
        background-image: url("../../Assets/background.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: solid #ffffff 1px;
            -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.5);
        color: #ffffff;
        padding: 10rem;
        height: 80vh;
        width: 100%;

        &__title {
            border-bottom: double #ffffff 5px;
            border-top: double #ffffff 5px;
            font-family: 'Rye', cursive;
            font-size: 2.5rem;
            padding: 0.5rem;
            text-shadow: 0px 0px 10px #000000;
        }

        &__text {
            color: #ffffff;
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
            text-shadow: 0px 0px 10px #000000;
        }

        &__button {
            background-color: #fafafa;
            border: solid #0030cc 1px;
                -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.7);
                -moz-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.7);
            box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.7);
            color: #04003f;
            font-family: 'Rye', cursive;
            font-size: 1rem;
            padding: 1.5rem;
            text-decoration: none;
            cursor: pointer;
        }

        &__button:hover {
            background-color: #dbedff; 
            border: solid #0030cc 1px;
                -webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
                -moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
            color: #080080;
        }

        &__footer {
            color: #ffffff;
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
            text-shadow: 0px 0px 10px #000000;
        }
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/