/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                    Logo component styles                                           |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    .logo {
        @include flex_center;
        flex-direction: column;
        width: 20%;
        cursor: pointer;

        &__img {
            background-image: url("../../Assets/logo.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }

        &__title {
            font-family: 'Rye', cursive;
            font-size: 2rem;
            color: #000000;
            @include no_gaps;
            text-decoration: none;
        }

        &__title:hover {
            font-size: 2.2rem;
        }
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/