/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                  Navigation component styles                                       |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    .navigation {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 60%;

        .menu {
            display: flex;
            list-style-type: none;
            margin: 0 0 0 5rem;
            padding: 0;

            &__button {
                background-color: #fafafa;
                border: solid #ffffff 1px;
                    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
                margin: 0 2rem 0.5rem 2rem;
                padding: 1rem 3rem;
                cursor: pointer;

                &_link {
                    font-family: 'Fredericka the Great', cursive;
                    font-size: 1.5rem;
                    color: #000000;
                    text-decoration: none;
                }
            }

            &__button:hover {
                background-color: #ececec;
                border: solid #ffffff 1px;
                    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
                    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
                box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
            }
        }
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/