/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                               Get Top Products component styles                                    |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/

    .list {
        display: flex;
        flex-direction: column;
        height: 85vh;
        overflow: hidden;

        &__title {
            font-family: 'Gravitas One', cursive;
            font-size: 2rem;
            margin: 1rem 0 0 0;
            padding: 3rem;
            text-align: center;
        }

        &-items {
            display: flex;
            align-items: center;
            justify-content: center;
            @include no_gaps;

            &-card {
                background-color: #fafafa;
                border: solid #ffffff 1px;
                    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
                    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
                margin: 2rem;
                list-style: none;
                height: 60vh;
                width: 30vw;
                overflow-x: hidden;
                overflow-y: auto;

                &__title {
                    font-family: 'Rye', cursive;
                    font-size: 2rem;
                    margin: 1rem;
                    text-align: center;
                }

                &__description {
                    font-family: 'Oswald', sans-serif;
                    font-size: 1rem;
                    padding: 1rem 2rem;
                    margin: 0;
                    text-align: justify;
                }
            }

            &-card:hover {
                background-color: #ececec;
                    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);
                    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);
                box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);
            }

            &-card::-webkit-scrollbar {
                width: 0.5rem;
            }
             
            &-card::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(190, 190, 190, 0.7);
                    -moz-box-shadow: inset 0px 0px 5px 2px rgba(190, 190, 190, 0.7);
                box-shadow: inset 0px 0px 5px 2px rgba(190, 190, 190, 0.7);
            }
             
            &-card::-webkit-scrollbar-thumb {
              background-color: #bbbbbb;
              outline: solid #ececec 1px;
            }
        }
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/