/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                       App scss setup                                               |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    *, *::after, *::before {
        box-sizing: border-box;
    }

    body {
        background-color: #ffffff;
        font-size: 24px;
        @include no_gaps;
        overflow-x: hidden;

        .app {
            display: grid;
            position: relative;
            @include grid_layout;
            height: 100vh;
        }
    }

    body::-webkit-scrollbar {
        width: 0.5rem;
    }
     
    body::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0px 0px 5px 2px rgba(190, 190, 190, 0.7);
            -moz-box-shadow: inset 0px 0px 5px 2px rgba(190, 190, 190, 0.7);
        box-shadow: inset 0px 0px 5px 2px rgba(190, 190, 190, 0.7);
    }
     
    body::-webkit-scrollbar-thumb {
      background-color: #bbbbbb;
      outline: solid #ececec 1px;
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/