/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                         scss mixins                                                |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    @mixin grid_layout {
        grid-template-columns:  [c1] 1fr [c2] 1fr [c3] 1fr [c4];
        grid-template-rows:     [r1] 1fr [r2] 5fr [r3] 1fr [r4];

        grid-template-areas:    "head head head"
                                "cont cont cont"
                                "foot foot foot";
    }

    @mixin  flex_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @mixin no_gaps {
        margin: 0;
        padding: 0;
    }

    @mixin standart_button {
        background-color: #fafafa;
        border: solid #ffffff 1px;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    }

    @mixin standart_button_hover {
        background-color: #ececec;
            -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
    }

    @mixin small_border_shadow {
        border: none;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/