/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                     Products page styles                                           |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


  .add {
    display: flex;
    grid-area: cont;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*|____________________________________________________________________________________________________|
|                                                                                                    |
|                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
|                                                                                                    |*/