/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                    layout and body setup                                           |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    @import './mixins';

    *, *::after, *::before {
        box-sizing: border-box;
    }

    body {
        @include no_gaps;

        .app {
            display: grid;
            position: relative;
            @include grid_layout;
            height: 100vh;
        }
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/

