// _mixins.scss - ( keeping all mixin's in this file )

@mixin no_gaps {
    margin: 0;
    padding: 0;
}

@mixin grid_layout {
    grid-template-columns:  [c1] 1fr [c2] 1fr [c3] 1fr [c4];
    grid-template-rows:     [r1] 1fr [r2] 5fr [r3] 1fr [r4];

    grid-template-areas:    "head head head"
                            "cont cont cont"
                            "foot foot foot";
}

@mixin  flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}