/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                       scss index file                                              |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    @import "./variables";                          // < _variables.scss from scss folder ( this file contains all variables used for styling ).
    @import "./mixins";                             // < _mixins.scss from scss folder ( keeping all mixin's in this file ).
    @import "./layout_and_body";                    // < _layout_and_body.scss from scss folder ( initializing styles and layout setup ).
    //@import "../Components/Header/header";          // < _header.scss from scss folder ( this file contains rules for header block ).
    //@import "../Pages/Home/home";                   // < _content.scss from scss folder ( this file contains rules for all website content ).
    //@import "../Pages/Products/products";
    //@import "../Components/Footer/footer";          // < _footer.scss from scss folder ( this file contains styles for footer block ).

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/