/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                       scss index file                                              |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/

  
//          fonts
    @import url('https://fonts.googleapis.com/css?family=Rye|Fredericka+the+Great|Oswald|Gravitas+One|Alegreya+SC&display=swap');

//          utilities      
    @import "./utilities/variables";
    @import "./utilities/mixins";
    @import "./utilities/layout";

//          pages
    @import "./pages/home";
    @import "./pages/products";
    @import "./pages/add";

//          components
    @import "./components/header";
    @import "./components/logo";
    @import "./components/navigation";
    @import "./components/cart";
    @import "./components/introduction";
    @import "./components/topProducts";
    @import "./components/card";
    @import "./components/carousel";
    @import "./components/footer";

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/