/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                   Carousel component styles                                        |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    @import url("https://fonts.googleapis.com/css?family=Roboto:900");

    .carousel {
        position: relative;
        border-radius: 5px;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 300px;
        width: 100%;
    }

    .controls__button {
        display: block;
        position: absolute;
        border-width: 5px 5px 0 0;
        border-style: solid;
        border-color: #000000;
        margin-top: -15px;
        top: 50%;
        height: 30px;
        width: 30px;
        opacity: 0.3;
        outline: 0;
        z-index: 3;
        cursor: pointer;
    }

    .controls__button:hover {
        opacity: 1;
    }

    .controls__button--back {
        left: 10px;
            -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .controls__button--next {
        right: 10px;
            -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .indicator {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .indicator__thumb {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        display: inline-block;
        z-index: 2;
        cursor: pointer;
        opacity: 0.35;
        margin: 0 2.5px 0 2.5px;
    }

    .indicator__thumb:hover {
        opacity: 0.75;
    }

    .carousel__slide {
        display: block;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        height: 100%;
        position: absolute;
        overflow-y: auto;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel__slide:nth-of-type(1) {
            -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    .carousel__slide:nth-of-type(2) {
            -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .carousel__slide:nth-of-type(3) {
            -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }

    .indicator__thumb {
        height: 30px;
        width: 30px;
    }

    .indicator__thumb {
        background-color: #fafafa;
    }

    .controls,
    .carousel__active {
        display: none;
    }

    .carousel__active:nth-of-type(1):checked {
            -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    .carousel__active:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
            -webkit-transform: scale(1);
        transform: scale(1);
    }

    .carousel__active:nth-of-type(1):checked ~ .controls:nth-of-type(1) {
        display: block;
        opacity: 1;
    }

    .carousel__active:nth-of-type(1):checked ~ .indicator .indicator__thumb:nth-of-type(1) {
        opacity: 1;
    }

    .carousel__active:nth-of-type(2):checked ~ {
            -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .carousel__active:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
            -webkit-transform: scale(1);
        transform: scale(1);
    }

    .carousel__active:nth-of-type(2):checked ~ .controls:nth-of-type(2) {
        display: block;
        opacity: 1;
    }

    .carousel__active:nth-of-type(2):checked ~ .indicator .indicator__thumb:nth-of-type(2) {
        opacity: 1;
    }

    .carousel__active:nth-of-type(3):checked ~ {
            -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    .carousel__active:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
            -webkit-transform: scale(1);
        transform: scale(1);
    }

    .carousel__active:nth-of-type(3):checked ~ .controls:nth-of-type(3) {
        display: block;
        opacity: 1;
    }

    .carousel__active:nth-of-type(3):checked ~ .indicator .indicator__thumb:nth-of-type(3) {
        opacity: 1;
    }

    .carousel__slide:nth-of-type(1), .indicator .indicator__thumb:nth-of-type(1) {
        background-size: cover;
        background-position: center;
    }

    .carousel__slide:nth-of-type(2), .indicator .indicator__thumb:nth-of-type(2) {
        background-size: cover;
        background-position: center;
    }

    .carousel__slide:nth-of-type(3), .indicator .indicator__thumb:nth-of-type(3) {
        background-size: cover;
        background-position: center;
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/


  /*



  
    
    @import url("https://fonts.googleapis.com/css?family=Roboto:900");

    .carousel1,
    .carousel2,
    .carousel3,
    .carousel4,
    .carousel5,
    .carousel6,
    .carousel7 {
        position: relative;
        border-radius: 5px;
        margin: 0;
        padding: 0;
        list-style: none;
        height: 300px;
        width: 100%;
    }

    .controls__button--back1,  .controls__button--next1,
    .controls__button--back2,  .controls__button--next2,
    .controls__button--back3,  .controls__button--next3,
    .controls__button--back4,  .controls__button--next4,
    .controls__button--back5,  .controls__button--next5,
    .controls__button--back6,  .controls__button--next6,
    .controls__button--back7,  .controls__button--next7 {
        display: block;
        position: absolute;
        border-width: 5px 5px 0 0;
        border-style: solid;
        border-color: #000000;
        margin-top: -15px;
        top: 50%;
        height: 30px;
        width: 30px;
        opacity: 0.3;
        outline: 0;
        z-index: 3;
        cursor: pointer;
    }

    .controls__button1:hover,
    .controls__button2:hover,
    .controls__button3:hover,
    .controls__button4:hover,
    .controls__button5:hover,
    .controls__button6:hover,
    .controls__button7:hover {
        opacity: 1;
    }

    .controls__button--back1,
    .controls__button--back2,
    .controls__button--back3,
    .controls__button--back4,
    .controls__button--back5,
    .controls__button--back6,
    .controls__button--back7 {
        left: 10px;
            -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .controls__button--next1,
    .controls__button--next2,
    .controls__button--next3,
    .controls__button--next4,
    .controls__button--next5,
    .controls__button--next6,
    .controls__button--next7 {
        right: 10px;
            -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .indicator1,
    .indicator2,
    .indicator3,
    .indicator4,
    .indicator5,
    .indicator6,
    .indicator7 {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .indicator__thumb1,
    .indicator__thumb2,
    .indicator__thumb3,
    .indicator__thumb4,
    .indicator__thumb5,
    .indicator__thumb6,
    .indicator__thumb7 {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        display: inline-block;
        z-index: 2;
        cursor: pointer;
        opacity: 0.35;
        margin: 0 2.5px 0 2.5px;
    }

    .indicator__thumb1:hover,
    .indicator__thumb2:hover,
    .indicator__thumb3:hover,
    .indicator__thumb4:hover,
    .indicator__thumb5:hover,
    .indicator__thumb6:hover,
    .indicator__thumb7:hover {
        opacity: 0.75;
    }

    .carousel__slide1,
    .carousel__slide2,
    .carousel__slide3,
    .carousel__slide4,
    .carousel__slide5,
    .carousel__slide6,
    .carousel__slide7 {
        display: block;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        height: 100%;
        position: absolute;
        overflow-y: auto;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel__slide1:nth-of-type(1),
    .carousel__slide2:nth-of-type(1),
    .carousel__slide3:nth-of-type(1),
    .carousel__slide4:nth-of-type(1),
    .carousel__slide5:nth-of-type(1),
    .carousel__slide6:nth-of-type(1),
    .carousel__slide7:nth-of-type(1) {
            -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    .carousel__slide1:nth-of-type(2),
    .carousel__slide2:nth-of-type(2),
    .carousel__slide3:nth-of-type(2),
    .carousel__slide4:nth-of-type(2),
    .carousel__slide5:nth-of-type(2),
    .carousel__slide6:nth-of-type(2),
    .carousel__slide7:nth-of-type(2) {
            -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .carousel__slide1:nth-of-type(3),
    .carousel__slide2:nth-of-type(3),
    .carousel__slide3:nth-of-type(3),
    .carousel__slide4:nth-of-type(3),
    .carousel__slide5:nth-of-type(3),
    .carousel__slide6:nth-of-type(3),
    .carousel__slide7:nth-of-type(3) {
            -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }

    .indicator__thumb1,
    .indicator__thumb2,
    .indicator__thumb3,
    .indicator__thumb4,
    .indicator__thumb5,
    .indicator__thumb6,
    .indicator__thumb7 {
        background-color: #fafafa;
        height: 30px;
        width: 30px;
    }

    .controls,
    .carousel__active1, 
    .carousel__active2, 
    .carousel__active3, 
    .carousel__active4, 
    .carousel__active5, 
    .carousel__active6, 
    .carousel__active7 {
        display: none;
    }

    .carousel__active1:nth-of-type(1):checked,
    .carousel__active2:nth-of-type(1):checked,
    .carousel__active3:nth-of-type(1):checked,
    .carousel__active4:nth-of-type(1):checked,
    .carousel__active5:nth-of-type(1):checked,
    .carousel__active6:nth-of-type(1):checked,
    .carousel__active7:nth-of-type(1):checked {
            -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    .carousel__active1:nth-of-type(1):checked ~ .carousel__slide1:nth-of-type(1),
    .carousel__active2:nth-of-type(1):checked ~ .carousel__slide2:nth-of-type(1),
    .carousel__active3:nth-of-type(1):checked ~ .carousel__slide3:nth-of-type(1),
    .carousel__active4:nth-of-type(1):checked ~ .carousel__slide4:nth-of-type(1),
    .carousel__active5:nth-of-type(1):checked ~ .carousel__slide5:nth-of-type(1),
    .carousel__active6:nth-of-type(1):checked ~ .carousel__slide6:nth-of-type(1),
    .carousel__active7:nth-of-type(1):checked ~ .carousel__slide7:nth-of-type(1) {
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
            -webkit-transform: scale(1);
        transform: scale(1);
    }

    .carousel__active1:nth-of-type(1):checked ~ .controls1:nth-of-type(1),
    .carousel__active2:nth-of-type(1):checked ~ .controls2:nth-of-type(1),
    .carousel__active3:nth-of-type(1):checked ~ .controls3:nth-of-type(1),
    .carousel__active4:nth-of-type(1):checked ~ .controls4:nth-of-type(1),
    .carousel__active5:nth-of-type(1):checked ~ .controls5:nth-of-type(1),
    .carousel__active6:nth-of-type(1):checked ~ .controls6:nth-of-type(1),
    .carousel__active7:nth-of-type(1):checked ~ .controls7:nth-of-type(1) {
        display: block;
        opacity: 1;
    }

    .carousel__active1:nth-of-type(1):checked ~ .indicator1 .indicator__thumb1:nth-of-type(1),
    .carousel__active2:nth-of-type(1):checked ~ .indicator2 .indicator__thumb2:nth-of-type(1),
    .carousel__active3:nth-of-type(1):checked ~ .indicator3 .indicator__thumb3:nth-of-type(1),
    .carousel__active4:nth-of-type(1):checked ~ .indicator4 .indicator__thumb4:nth-of-type(1),
    .carousel__active5:nth-of-type(1):checked ~ .indicator5 .indicator__thumb5:nth-of-type(1),
    .carousel__active6:nth-of-type(1):checked ~ .indicator6 .indicator__thumb6:nth-of-type(1),
    .carousel__active7:nth-of-type(1):checked ~ .indicator7 .indicator__thumb7:nth-of-type(1) {
        opacity: 1;
    }

    .carousel__active1:nth-of-type(2):checked,
    .carousel__active2:nth-of-type(2):checked,
    .carousel__active3:nth-of-type(2):checked,
    .carousel__active4:nth-of-type(2):checked,
    .carousel__active5:nth-of-type(2):checked,
    .carousel__active6:nth-of-type(2):checked,
    .carousel__active7:nth-of-type(2):checked ~ {
            -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .carousel__active1:nth-of-type(2):checked ~ .carousel__slide1:nth-of-type(2),
    .carousel__active2:nth-of-type(2):checked ~ .carousel__slide2:nth-of-type(2),
    .carousel__active3:nth-of-type(2):checked ~ .carousel__slide3:nth-of-type(2),
    .carousel__active4:nth-of-type(2):checked ~ .carousel__slide4:nth-of-type(2),
    .carousel__active5:nth-of-type(2):checked ~ .carousel__slide5:nth-of-type(2),
    .carousel__active6:nth-of-type(2):checked ~ .carousel__slide6:nth-of-type(2),
    .carousel__active7:nth-of-type(2):checked ~ .carousel__slide7:nth-of-type(2) {
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
            -webkit-transform: scale(1);
        transform: scale(1);
    }

    .carousel__active1:nth-of-type(2):checked ~ .controls1:nth-of-type(2),
    .carousel__active2:nth-of-type(2):checked ~ .controls2:nth-of-type(2),
    .carousel__active3:nth-of-type(2):checked ~ .controls3:nth-of-type(2),
    .carousel__active4:nth-of-type(2):checked ~ .controls4:nth-of-type(2),
    .carousel__active5:nth-of-type(2):checked ~ .controls5:nth-of-type(2),
    .carousel__active6:nth-of-type(2):checked ~ .controls6:nth-of-type(2),
    .carousel__active7:nth-of-type(2):checked ~ .controls7:nth-of-type(2) {
        display: block;
        opacity: 1;
    }

    .carousel__active1:nth-of-type(2):checked ~ .indicator1 .indicator__thumb1:nth-of-type(2),
    .carousel__active2:nth-of-type(2):checked ~ .indicator2 .indicator__thumb2:nth-of-type(2),
    .carousel__active3:nth-of-type(2):checked ~ .indicator3 .indicator__thumb3:nth-of-type(2),
    .carousel__active4:nth-of-type(2):checked ~ .indicator4 .indicator__thumb4:nth-of-type(2),
    .carousel__active5:nth-of-type(2):checked ~ .indicator5 .indicator__thumb5:nth-of-type(2),
    .carousel__active6:nth-of-type(2):checked ~ .indicator6 .indicator__thumb6:nth-of-type(2),
    .carousel__active7:nth-of-type(2):checked ~ .indicator7 .indicator__thumb7:nth-of-type(2) {
        opacity: 1;
    }

    .carousel__active1:nth-of-type(3):checked ~,
    .carousel__active2:nth-of-type(3):checked ~,
    .carousel__active3:nth-of-type(3):checked ~,
    .carousel__active4:nth-of-type(3):checked ~,
    .carousel__active5:nth-of-type(3):checked ~,
    .carousel__active6:nth-of-type(3):checked ~,
    .carousel__active7:nth-of-type(3):checked ~ {
            -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    .carousel__active1:nth-of-type(3):checked ~ .carousel__slide1:nth-of-type(3),
    .carousel__active2:nth-of-type(3):checked ~ .carousel__slide2:nth-of-type(3),
    .carousel__active3:nth-of-type(3):checked ~ .carousel__slide3:nth-of-type(3),
    .carousel__active4:nth-of-type(3):checked ~ .carousel__slide4:nth-of-type(3),
    .carousel__active5:nth-of-type(3):checked ~ .carousel__slide5:nth-of-type(3),
    .carousel__active6:nth-of-type(3):checked ~ .carousel__slide6:nth-of-type(3),
    .carousel__active7:nth-of-type(3):checked ~ .carousel__slide7:nth-of-type(3) {
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
            -webkit-transform: scale(1);
        transform: scale(1);
    }

    .carousel__active1:nth-of-type(3):checked ~ .controls1:nth-of-type(3),
    .carousel__active2:nth-of-type(3):checked ~ .controls2:nth-of-type(3),
    .carousel__active3:nth-of-type(3):checked ~ .controls3:nth-of-type(3),
    .carousel__active4:nth-of-type(3):checked ~ .controls4:nth-of-type(3),
    .carousel__active5:nth-of-type(3):checked ~ .controls5:nth-of-type(3),
    .carousel__active6:nth-of-type(3):checked ~ .controls6:nth-of-type(3),
    .carousel__active7:nth-of-type(3):checked ~ .controls7:nth-of-type(3) {
        display: block;
        opacity: 1;
    }

    .carousel__active1:nth-of-type(3):checked ~ .indicator1 .indicator__thumb1:nth-of-type(3),
    .carousel__active2:nth-of-type(3):checked ~ .indicator2 .indicator__thumb2:nth-of-type(3),
    .carousel__active3:nth-of-type(3):checked ~ .indicator3 .indicator__thumb3:nth-of-type(3),
    .carousel__active4:nth-of-type(3):checked ~ .indicator4 .indicator__thumb4:nth-of-type(3),
    .carousel__active5:nth-of-type(3):checked ~ .indicator5 .indicator__thumb5:nth-of-type(3),
    .carousel__active6:nth-of-type(3):checked ~ .indicator6 .indicator__thumb6:nth-of-type(3),
    .carousel__active7:nth-of-type(3):checked ~ .indicator7 .indicator__thumb7:nth-of-type(3) {
        opacity: 1;
    }

    .carousel__slide:nth-of-type(1), .indicator .indicator__thumb:nth-of-type(1) {
        background-size: cover;
        background-position: center;
    }

    .carousel__slide:nth-of-type(2), .indicator .indicator__thumb:nth-of-type(2) {
        background-size: cover;
        background-position: center;
    }

    .carousel__slide:nth-of-type(3), .indicator .indicator__thumb:nth-of-type(3) {
        background-size: cover;
        background-position: center;
    }


    */