/*|                                                                                                    |
  |                 Adapt front-end Academy 2019 | final task by Donatas Dereškevičius                 |
  |                                                                                                    |
  |                                    Logo component styles                                           |
  |                                                                                                    |
__|____________________________________________________________________________________________________|__
  |                                donatas.dereskevicius@gmail.com                                     |*/


    @import '../../../scss/mixins';

    .logo {
        @include flex_center;
        flex-direction: column;
        width: 20%;
        cursor: pointer;

        &__img {
            background-image: url("../../../img/logo192.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }

        &__title {
            font-size: 20px;
            @include no_gaps;
        }
    }

/*|____________________________________________________________________________________________________|
  |                                                                                                    |
  |                                  Adapt front-end Academy 2019                                      |
__|____________________________________________________________________________________________________|__
  |                                                                                                    |*/